body,h3{
    padding: 0;
    margin: 0;
}
button{
    color: white;
    background-color: #337ab7;
    width: 250px;
    height: 50px;
     font-size: 22px;
    font-weight: normal;
    font-family: fantasy;
    margin-bottom: 20px;
    margin-top: 20px;
    
}
div select{
    margin-left: 350px;
}
div select#upload{
    margin-left: 0;
}
div{
    margin: 20px auto;
    width: 800px;
}
table{
    display: inline-block;
    margin-left: 10px;
}
h3{
    margin: 15px;
    color: blue;
}
